{{define "css"}}
<!-- DataTables js-->
<link rel="stylesheet" href="/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">


{{ end }}
{{define "sidebar"}}
      <aside class="main-sidebar sidebar-light-secondary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
            <img src="/images/dit-logo.png" alt="DIT" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">GMS</span>
          </a>
          <!-- Sidebar -->
          <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
              <div class="image">
                <img src="/adminlte/dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
              </div>
              <div class="info">
                <a href="#" class="d-block">User-Profile</a>
              </div>
            </div>

            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
      <i class="fas fa-search fa-fw"></i>
    </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
       with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="./index.html" class="nav-link active">
                            <i class="nav-icon fas fa-home"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-file"></i>
                            <p>
                                Complaints
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/grm/grievances" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Received Complaints</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/grm/grievances" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Assigned Complaints</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/grm/grievances" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Resolved Complaints</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/grm/grievances" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Annonymus Complaint</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/grm/grievances" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Pending Complaints</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="./Complaint_Registration.html" class="nav-link">
                            <i class="nav-icon fas fa-box"></i>
                            <p>
                                Reports

                            </p>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
{{end}}
{{define "content"}}
<!-- content to be displayed here -->
{{ if .infos }}
{{range $index, $value := .infos}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ $value }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{end}}
{{end}}

{{ if .errors }}
{{range $index, $value := .errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ $value }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{end}}
{{end}}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- content to be displayed here -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="callouts callout-info">
                    <div class="inner">
                        <h3>150</h3>

                        <p>Received Complaints</p>
                    </div>
                    <div class="icon">
                        <i class="ion-document"></i>
                    </div>
                    <a href="../../pages/Datavisualization/home.html" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="callouts callout-success">
                    <div class="inner">
                        <h3>53</h3>

                        <p>Resolved Complaints</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="../../pages/Datavisualization/home.html" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="callouts callout-warning">
                    <div class="inner">
                        <h3>44</h3>

                        <p>Annonymous Complaint</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="../../pages/Datavisualization/home.html" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="callouts callout-danger">
                    <div class="inner">
                        <h3>65</h3>

                        <p>Unressolved Complaints</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="../../pages/Datavisualization/home.html" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->

        <!-- /.row (main row) -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
    <!-- /.card-body -->

<!-- /.card -->
{{end}}

{{ define "js"}}
<!-- DataTables -->
<script src="/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- page script -->
<script>
    $(function () {
        $("#datatable").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
    });
</script>

{{end}}
