
<div class="form-group">
    <label class="col-md-6 control-label">Grievance Sub Category Name</label>
    <div class="col-md-6">
        <input type="input" name="name" class="form-control" aria-describedby="Name"
               value="{{ .data.Name }}">
    </div>
</div>

<div class="form-group">
    <label class="col-md-6 control-label">Grievance Sub Category Code Name</label>
    <div class="col-md-6">
        <input type="input" name="code_name" class="form-control" aria-describedby="CodeName"
               value="{{ .data.CodeName }}">
    </div>
</div>

<div class="form-group">
    <label class="col-md-6 control-label">Grievance Sub Category Description</label>
    <div class="col-md-6">
        <textarea name="description" class="form-control" aria-describedby="Description"
               >{{ .data.Description }}</textarea>
               
    </div>
</div>

<div class="form-group">
    <label class="col-md-6 control-label">Choose Grievance Category</label>
    <div class="col-md-6">
        <select class="form-control" name="grievance_category_id">
            <option value="{{ .grievance_category.Id}}" selected>{{ .grievance_category.Name}}</option>
            {{range $value := .grievance_categories}}
                <option value="{{ $value.Id}}">{{$value.Name}}</option>
            {{end}}
        </select>

    </div>
</div>