{{define "css"}}
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="/adminlte/plugins/daterangepicker/daterangepicker.css">
{{ end }}

{{define "content"}}
<!-- content to be displayed here -->
{{ if .infos }}
{{range $index, $value := .infos}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ $value }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{end}}
{{end}}

{{ if .errors }}
{{range $index, $value := .errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ $value }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{end}}
{{end}}

<div class="card">
    <div class="card-header">
        <h5 class="my-1 float-left"><i class="fas fa-info-circle blue"></i>&nbsp;{{ .title }}</h5>
        <div class="btn-group btn-group-sm float-right" role="group">
            <a href="/grm/grievances" class="btn btn-primary" title="List All">
                <i class=" fas fa-fw fa-th-list" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="col-md-12">

            <p><b>DIT GRM Form IV</b></p>
              <p><b>Instructions:</b> This form is to be completed by the individual appealing the resolution of inquiry or
                grievance.</p>
              <p>Please fill in all parts with (<span style="color: red; font-weight: bold;">*</span>) as it
                is important.
              </p>

            <form action="/grm/grievances/store" method="post" class="form" enctype="multipart/form-data">
                {{include "/grm/views/grievance/formAppeal"}}

                <div class="form-group">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
{{end}}

{{define "js"}}
<!-- daterangepicker -->
<script src="/adminlte/plugins/moment/moment.min.js"></script>
<script src="/adminlte/plugins/daterangepicker/daterangepicker.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#furtherExplanation').summernote({
            placeholder: 'Type your grievance here!',
            tabsize: 2,
            height: 250
        });
        $('#desiredOutcome').summernote({
            placeholder: 'Type your grievance here!',
            tabsize: 2,
            height: 250
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //Date picker
        $('#grv_rcvd').datetimepicker({
            format: 'dddd, MMMM DD, YYYY'
        });
    });
</script>

{{ end }}